### Data_Cleaning1

In [1]:
#DATA CLEANING SCRIPT
import pandas as pd
import numpy as np
import re
import sys

# Redirect output to both console and file for Part 1
class DualOutput:
    def __init__(self, filename):
        self.terminal = sys.stdout
        self.log = open(filename, "w", encoding="utf-8")
    def write(self, message):
        self.terminal.write(message)
        self.log.write(message)
    def flush(self):
        self.terminal.flush()
        self.log.flush()

sys.stdout = DualOutput("channel_cost.txt")

# ==============================
# Step 1: Display first few rows
# ==============================
file_path = r"D:\PROJECT\Project2\Dataset\channel_cost_data.csv"  
df = pd.read_csv(file_path) 

print("First 5 rows of the dataset:")
print(df.head())
print(df.tail())

# =======================================
# Step 2: Dataset Columns
# =======================================
print("\n\n\ndataset columns:")
print(df.columns)

# =======================================
# Step 3: Data Types
# =======================================
print("\n\n\nData Types:")
print(df.dtypes)
# =======================================
# Step 4: Identify Missing Values
# =======================================
print("\n\n\nMissing Values in Each Column:")
print(df.info())
print(df.isnull().sum())

# ===================================================================================
# Step 5: Data Cleaning - Remove rows with only special characters or NaN in any cell
# ===================================================================================
def contains_only_special_chars(value):
    if pd.isna(value):
        return True
    return bool(re.fullmatch(r'[^a-zA-Z0-9]+', str(value)))

df_cleaned = df[~df.applymap(contains_only_special_chars).any(axis=1)]

print("\n\n\nAfter cleaning (removing rows with only special characters or NaN in any column):")
print(df_cleaned.head())

# Save cleaned data for Part 2
cleaned_file_path = "channel_cost.csv"
df_cleaned.to_csv(cleaned_file_path, index=False)
print(f"\n\n\nCleaned data saved to {cleaned_file_path}")

# Restore stdout
sys.stdout.log.close()
sys.stdout = sys.stdout.terminal

First 5 rows of the dataset:
  Campaign_ID    Channel_Name    Medium        Date     Cost  Impressions  \
0   CAMP_3756  Organic Search  Referral  17-12-2024   132.68         8204
1   CAMP_2957         YouTube   Organic  16-11-2024   933.30        42696
2   CAMP_6049  Organic Search      Paid  07-02-2025   109.88        44616
3   CAMP_8874         YouTube    Social  24-03-2025  2180.59        42768
4   CAMP_1106        LinkedIn   Organic  08-10-2025  1770.62        29371

   Clicks  Conversions   Revenue  totalmedium
0     513          154  27371.77            1
1    1097          149   4281.78            2
2    1360          479  20622.16            3
3     757          115  21483.62            4
4     955          155  18652.77            5
     Campaign_ID    Channel_Name    Medium        Date     Cost  Impressions  \
9995   CAMP_4564  Organic Search    Social  05-11-2024   266.37         2025
9996   CAMP_2714         Twitter  Referral  24-07-2025  1133.79        18113
9997   CAMP_5491         Twitter      Paid  08-02-2025   714.38        42127
9998   CAMP_5616       Instagram    Social  08-09-2025  1009.04        24695
9999   CAMP_6982  Organic Search    Social  11-03-2025   124.39        45279

      Clicks  Conversions   Revenue  totalmedium
9995     149           36   6501.31         1212
9996    1199           46   6975.43         1213
9997    3826           49   4190.42         1214
9998    1667          144  25968.37         1215
9999     553           25   4905.15         1216



dataset columns:
Index(['Campaign_ID', 'Channel_Name', 'Medium', 'Date', 'Cost', 'Impressions',
       'Clicks', 'Conversions', 'Revenue', 'totalmedium'],
      dtype='object')



Data Types:
Campaign_ID      object
Channel_Name     object
Medium           object
Date             object
Cost            float64
Impressions       int64
Clicks            int64
Conversions       int64
Revenue         float64
totalmedium       int64
dtype: object



Missing Values in Each Column:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Campaign_ID   10000 non-null  object
 1   Channel_Name  10000 non-null  object
 2   Medium        10000 non-null  object
 3   Date          10000 non-null  object
 4   Cost          10000 non-null  float64
 5   Impressions   10000 non-null  int64
 6   Clicks        10000 non-null  int64
 7   Conversions   10000 non-null  int64
 8   Revenue       10000 non-null  float64
 9   totalmedium   10000 non-null  int64
dtypes: float64(2), int64(4), object(4)
memory usage: 781.4+ KB
None
Campaign_ID     0
Channel_Name    0
Medium          0
Date            0
Cost            0
Impressions     0
Clicks          0
Conversions     0
Revenue         0
totalmedium     0
dtype: int64



After cleaning (removing rows with only special characters or NaN in any column):
  Campaign_ID    Channel_Name    Medium        Date     Cost  Impressions  \
0   CAMP_3756  Organic Search  Referral  17-12-2024   132.68         8204
1   CAMP_2957         YouTube   Organic  16-11-2024   933.30        42696
2   CAMP_6049  Organic Search      Paid  07-02-2025   109.88        44616
3   CAMP_8874         YouTube    Social  24-03-2025  2180.59        42768
4   CAMP_1106        LinkedIn   Organic  08-10-2025  1770.62        29371

   Clicks  Conversions   Revenue  totalmedium
0     513          154  27371.77            1
1    1097          149   4281.78            2
2    1360          479  20622.16            3
3     757          115  21483.62            4
4     955          155  18652.77            5



Cleaned data saved to channel_cost.csv

C:\Users\Pandi selvam\AppData\Local\Temp\ipykernel_20996\1532913749.py:57: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_cleaned = df[~df.applymap(contains_only_special_chars).any(axis=1)]

### Data_Cleaning2

In [2]:
#DATA CLEANING SCRIPT
import pandas as pd
import numpy as np
import re
import sys

# Redirect output to both console and file for Part 1
class DualOutput:
    def __init__(self, filename):
        self.terminal = sys.stdout
        self.log = open(filename, "w", encoding="utf-8")
    def write(self, message):
        self.terminal.write(message)
        self.log.write(message)
    def flush(self):
        self.terminal.flush()
        self.log.flush()

sys.stdout = DualOutput("conversion.txt")

# ==============================
# Step 1: Display first few rows
# ==============================
file_path = r"D:\PROJECT\Project2\Dataset\conversion_data.csv"  
df = pd.read_csv(file_path) 

print("First 5 rows of the dataset:")
print(df.head())
print(df.tail())

# =======================================
# Step 2: Dataset Columns
# =======================================
print("\n\n\ndataset columns:")
print(df.columns)

# =======================================
# Step 3: Data Types
# =======================================
print("\n\n\nData Types:")
print(df.dtypes)
# =======================================
# Step 4: Identify Missing Values
# =======================================
print("\n\n\nMissing Values in Each Column:")
print(df.info())
print(df.isnull().sum())

# ===================================================================================
# Step 5: Data Cleaning - Remove rows with only special characters or NaN in any cell
# ===================================================================================
def contains_only_special_chars(value):
    if pd.isna(value):
        return True
    return bool(re.fullmatch(r'[^a-zA-Z0-9]+', str(value)))

df_cleaned = df[~df.applymap(contains_only_special_chars).any(axis=1)]

print("\n\n\nAfter cleaning (removing rows with only special characters or NaN in any column):")
print(df_cleaned.head())

# Save cleaned data for Part 2
cleaned_file_path = "conversion.csv"
df_cleaned.to_csv(cleaned_file_path, index=False)
print(f"\n\n\nCleaned data saved to {cleaned_file_path}")

# Restore stdout
sys.stdout.log.close()
sys.stdout = sys.stdout.terminal

First 5 rows of the dataset:
  Transaction_ID  User_ID Conversion_Event Conversion_Timestamp  \
0     TXN_100000     6492         Download     25-09-2025 06:13
1     TXN_100001     6322          Upgrade     07-01-2025 18:02
2     TXN_100002     2626           Signup     08-01-2025 20:37
3     TXN_100003     3484         Purchase     07-08-2025 03:12
4     TXN_100004     6515         Download     24-11-2024 16:05

   Conversion_Value
0              0.00
1           2423.74
2              0.00
3           1750.09
4              0.00
     Transaction_ID  User_ID Conversion_Event Conversion_Timestamp  \
9995     TXN_109995     3336      Add_to_Cart     05-08-2025 15:30
9996     TXN_109996     8838           Signup     14-08-2025 09:45
9997     TXN_109997     4432           Signup     06-02-2025 05:33
9998     TXN_109998     7822         Purchase     12-08-2025 04:49
9999     TXN_109999     8412     Subscription     07-12-2024 02:16

      Conversion_Value
9995              0.00
9996              0.00
9997              0.00
9998           1697.05
9999            190.19



dataset columns:
Index(['Transaction_ID', 'User_ID', 'Conversion_Event', 'Conversion_Timestamp',
       'Conversion_Value'],
      dtype='object')



Data Types:
Transaction_ID           object
User_ID                   int64
Conversion_Event         object
Conversion_Timestamp     object
Conversion_Value        float64
dtype: object



Missing Values in Each Column:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Transaction_ID        10000 non-null  object
 1   User_ID               10000 non-null  int64
 2   Conversion_Event      10000 non-null  object
 3   Conversion_Timestamp  10000 non-null  object
 4   Conversion_Value      10000 non-null  float64
dtypes: float64(1), int64(1), object(3)
memory usage: 390.8+ KB
None
Transaction_ID          0
User_ID                 0
Conversion_Event        0
Conversion_Timestamp    0
Conversion_Value        0
dtype: int64



After cleaning (removing rows with only special characters or NaN in any column):
  Transaction_ID  User_ID Conversion_Event Conversion_Timestamp  \
0     TXN_100000     6492         Download     25-09-2025 06:13
1     TXN_100001     6322          Upgrade     07-01-2025 18:02
2     TXN_100002     2626           Signup     08-01-2025 20:37
3     TXN_100003     3484         Purchase     07-08-2025 03:12
4     TXN_100004     6515         Download     24-11-2024 16:05

   Conversion_Value
0              0.00
1           2423.74
2              0.00
3           1750.09
4              0.00



Cleaned data saved to conversion.csv

C:\Users\Pandi selvam\AppData\Local\Temp\ipykernel_20996\562356518.py:57: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_cleaned = df[~df.applymap(contains_only_special_chars).any(axis=1)]

### Data_Cleanign3

In [3]:
#DATA CLEANING SCRIPT
import pandas as pd
import numpy as np
import re
import sys

# Redirect output to both console and file for Part 1
class DualOutput:
    def __init__(self, filename):
        self.terminal = sys.stdout
        self.log = open(filename, "w", encoding="utf-8")
    def write(self, message):
        self.terminal.write(message)
        self.log.write(message)
    def flush(self):
        self.terminal.flush()
        self.log.flush()

sys.stdout = DualOutput("customer_lifetime.txt")

# ==============================
# Step 1: Display first few rows
# ==============================
file_path = r"D:\PROJECT\Project2\Dataset\customer_lifetime_data.csv"  
df = pd.read_csv(file_path) 

print("First 5 rows of the dataset:")
print(df.head())
print(df.tail())

# =======================================
# Step 2: Dataset Columns
# =======================================
print("\n\n\ndataset columns:")
print(df.columns)

# =======================================
# Step 3: Data Types
# =======================================
print("\n\n\nData Types:")
print(df.dtypes)
# =======================================
# Step 4: Identify Missing Values
# =======================================
print("\n\n\nMissing Values in Each Column:")
print(df.info())
print(df.isnull().sum())

# ===================================================================================
# Step 5: Data Cleaning - Remove rows with only special characters or NaN in any cell
# ===================================================================================
def contains_only_special_chars(value):
    if pd.isna(value):
        return True
    return bool(re.fullmatch(r'[^a-zA-Z0-9]+', str(value)))

df_cleaned = df[~df.applymap(contains_only_special_chars).any(axis=1)]

print("\n\n\nAfter cleaning (removing rows with only special characters or NaN in any column):")
print(df_cleaned.head())

# Save cleaned data for Part 2
cleaned_file_path = "customer_lifetime.csv"
df_cleaned.to_csv(cleaned_file_path, index=False)
print(f"\n\n\nCleaned data saved to {cleaned_file_path}")

# Restore stdout
sys.stdout.log.close()
sys.stdout = sys.stdout.terminal

First 5 rows of the dataset:
  Customer_ID   Location Subscription_Plan  Total_Purchases  \
0  CUST_00001  Bangalore        Enterprise                7
1  CUST_00002    Kolkata        Enterprise                3
2  CUST_00003  Bangalore        Enterprise                3
3  CUST_00004       Pune        Enterprise                3
4  CUST_00005     Mumbai        Enterprise                9

  Last_Purchase_Date  Customer_Lifetime_Value  Subscription_Length_Months  \
0         06-08-2025                  1667.20                           7
1         05-09-2025                   737.11                           1
2         22-08-2025                   883.28                           6
3         05-06-2025                  1198.61                           4
4         20-09-2025                  2710.83                           3

  Churned                             Purchase_History_Dates  \
0      No  ['2024-11-15', '2025-01-23', '2025-02-19', '20...
1      No         ['2024-10-27', '2025-01-23', '2025-09-05']
2      No         ['2025-02-20', '2025-03-30', '2025-08-22']
3     Yes         ['2024-12-15', '2025-02-27', '2025-06-05']
4      No  ['2024-10-25', '2024-10-26', '2024-11-03', '20...

                                     Purchase_Values  totalplan
0  [45.01, 482.19, 288.16, 261.28, 109.25, 149.96...          1
1                           [143.92, 101.25, 491.94]          2
2                           [108.34, 471.59, 303.35]          3
3                           [290.08, 473.24, 435.29]          4
4  [45.79, 349.92, 458.36, 480.67, 187.48, 398.59...          5
     Customer_ID Location Subscription_Plan  Total_Purchases  \
9995  CUST_09996   Mumbai              Gold                1
9996  CUST_09997     Pune              Gold                3
9997  CUST_09998  Kolkata             Basic               10
9998  CUST_09999   Mumbai              Gold               10
9999  CUST_10000   Mumbai              Gold                4

     Last_Purchase_Date  Customer_Lifetime_Value  Subscription_Length_Months  \
9995         10-04-2025                   109.36                          12
9996         15-07-2025                   756.86                          10
9997         09-10-2025                  2306.33                           3
9998         14-10-2025                  2714.53                           8
9999         13-08-2025                   570.41                          12

     Churned                             Purchase_History_Dates  \
9995      No                                     ['2025-04-10']
9996      No         ['2024-11-10', '2025-06-02', '2025-07-15']
9997      No  ['2025-02-19', '2025-03-17', '2025-03-28', '20...
9998      No  ['2024-10-23', '2025-01-16', '2025-03-14', '20...
9999      No  ['2025-01-06', '2025-04-26', '2025-05-31', '20...

                                        Purchase_Values  totalplan
9995                                           [109.36]       1518
9996                           [163.68, 433.39, 159.79]       1519
9997  [120.34, 205.77, 443.75, 415.5, 52.1, 185.32, ...       1520
9998  [397.12, 117.15, 188.47, 288.37, 431.48, 490.5...       1521
9999                     [152.17, 45.35, 218.99, 153.9]       1522



dataset columns:
Index(['Customer_ID', 'Location', 'Subscription_Plan', 'Total_Purchases',
       'Last_Purchase_Date', 'Customer_Lifetime_Value',
       'Subscription_Length_Months', 'Churned', 'Purchase_History_Dates',
       'Purchase_Values', 'totalplan'],
      dtype='object')



Data Types:
Customer_ID                    object
Location                       object
Subscription_Plan              object
Total_Purchases                 int64
Last_Purchase_Date             object
Customer_Lifetime_Value       float64
Subscription_Length_Months      int64
Churned                        object
Purchase_History_Dates         object
Purchase_Values                object
totalplan                       int64
dtype: object



Missing Values in Each Column:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Customer_ID                 10000 non-null  object
 1   Location                    10000 non-null  object
 2   Subscription_Plan           10000 non-null  object
 3   Total_Purchases             10000 non-null  int64
 4   Last_Purchase_Date          10000 non-null  object
 5   Customer_Lifetime_Value     10000 non-null  float64
 6   Subscription_Length_Months  10000 non-null  int64
 7   Churned                     10000 non-null  object
 8   Purchase_History_Dates      10000 non-null  object
 9   Purchase_Values             10000 non-null  object
 10  totalplan                   10000 non-null  int64
dtypes: float64(1), int64(3), object(7)
memory usage: 859.5+ KB
None
Customer_ID                   0
Location                      0
Subscription_Plan             0
Total_Purchases               0
Last_Purchase_Date            0
Customer_Lifetime_Value       0
Subscription_Length_Months    0
Churned                       0
Purchase_History_Dates        0
Purchase_Values               0
totalplan                     0
dtype: int64



After cleaning (removing rows with only special characters or NaN in any column):
  Customer_ID   Location Subscription_Plan  Total_Purchases  \
0  CUST_00001  Bangalore        Enterprise                7
1  CUST_00002    Kolkata        Enterprise                3
2  CUST_00003  Bangalore        Enterprise                3
3  CUST_00004       Pune        Enterprise                3
4  CUST_00005     Mumbai        Enterprise                9

  Last_Purchase_Date  Customer_Lifetime_Value  Subscription_Length_Months  \
0         06-08-2025                  1667.20                           7
1         05-09-2025                   737.11                           1
2         22-08-2025                   883.28                           6
3         05-06-2025                  1198.61                           4
4         20-09-2025                  2710.83                           3

  Churned                             Purchase_History_Dates  \
0      No  ['2024-11-15', '2025-01-23', '2025-02-19', '20...
1      No         ['2024-10-27', '2025-01-23', '2025-09-05']
2      No         ['2025-02-20', '2025-03-30', '2025-08-22']
3     Yes         ['2024-12-15', '2025-02-27', '2025-06-05']
4      No  ['2024-10-25', '2024-10-26', '2024-11-03', '20...

                                     Purchase_Values  totalplan
0  [45.01, 482.19, 288.16, 261.28, 109.25, 149.96...          1
1                           [143.92, 101.25, 491.94]          2
2                           [108.34, 471.59, 303.35]          3
3                           [290.08, 473.24, 435.29]          4
4  [45.79, 349.92, 458.36, 480.67, 187.48, 398.59...          5



Cleaned data saved to customer_lifetime.csv

C:\Users\Pandi selvam\AppData\Local\Temp\ipykernel_20996\756452218.py:57: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_cleaned = df[~df.applymap(contains_only_special_chars).any(axis=1)]

### Data_Cleaning4

In [4]:
#DATA CLEANING SCRIPT
import pandas as pd
import numpy as np
import re
import sys

# Redirect output to both console and file for Part 1
class DualOutput:
    def __init__(self, filename):
        self.terminal = sys.stdout
        self.log = open(filename, "w", encoding="utf-8")
    def write(self, message):
        self.terminal.write(message)
        self.log.write(message)
    def flush(self):
        self.terminal.flush()
        self.log.flush()

sys.stdout = DualOutput("tamilnadu_Customer.txt")

# ==============================
# Step 1: Display first few rows
# ==============================
file_path = r"D:\PROJECT\Project2\Dataset\tamilnadu_customer_data.csv"  
df = pd.read_csv(file_path) 

print("First 5 rows of the dataset:")
print(df.head())
print(df.tail())

# =======================================
# Step 2: Dataset Columns
# =======================================
print("\n\n\ndataset columns:")
print(df.columns)

# =======================================
# Step 3: Data Types
# =======================================
print("\n\n\nData Types:")
print(df.dtypes)
# =======================================
# Step 4: Identify Missing Values
# =======================================
print("\n\n\nMissing Values in Each Column:")
print(df.info())
print(df.isnull().sum())

# ===================================================================================
# Step 5: Data Cleaning - Remove rows with only special characters or NaN in any cell
# ===================================================================================
def contains_only_special_chars(value):
    if pd.isna(value):
        return True
    return bool(re.fullmatch(r'[^a-zA-Z0-9]+', str(value)))

df_cleaned = df[~df.applymap(contains_only_special_chars).any(axis=1)]

print("\n\n\nAfter cleaning (removing rows with only special characters or NaN in any column):")
print(df_cleaned.head())

# Save cleaned data for Part 2
cleaned_file_path = "tamilnadu_Customer.csv"
df_cleaned.to_csv(cleaned_file_path, index=False)
print(f"\n\n\nCleaned data saved to {cleaned_file_path}")

# Restore stdout
sys.stdout.log.close()
sys.stdout = sys.stdout.terminal

First 5 rows of the dataset:
  User_ID             Name  Age  Gender         Location Signup_Date
0  U00001      Charvi Lata   23    Male  Tiruchirappalli  13-04-2024
1  U00002  Widisha Sachdev   35    Male      Krishnagiri  30-06-2024
2  U00003    Darsh Sanghvi   30  Female          Chennai  29-08-2024
3  U00004       Finn Amble   21  Female       Tiruvallur  11-12-2024
4  U00005  Madhav Choudhry   35    Male       Dharmapuri  04-11-2024
     User_ID         Name  Age  Gender      Location Signup_Date
9995  U09996   Naksh Gera   56    Male         Erode  24-02-2024
9996  U09997     Eta Iyer   47  Female  Kallakurichi  23-07-2024
9997  U09998  Vritti Vora   53    Male       Tenkasi  15-09-2024
9998  U09999  Jack Oommen   60  Female      Tiruppur  10-05-2024
9999  U10000  Oviya Walla   59    Male    Tiruvallur  04-06-2024



dataset columns:
Index(['User_ID', 'Name', 'Age', 'Gender', 'Location', 'Signup_Date'], dtype='object')



Data Types:
User_ID        object
Name           object
Age             int64
Gender         object
Location       object
Signup_Date    object
dtype: object



Missing Values in Each Column:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   User_ID      10000 non-null  object
 1   Name         10000 non-null  object
 2   Age          10000 non-null  int64
 3   Gender       10000 non-null  object
 4   Location     10000 non-null  object
 5   Signup_Date  10000 non-null  object
dtypes: int64(1), object(5)
memory usage: 468.9+ KB
None
User_ID        0
Name           0
Age            0
Gender         0
Location       0
Signup_Date    0
dtype: int64



After cleaning (removing rows with only special characters or NaN in any column):
  User_ID             Name  Age  Gender         Location Signup_Date
0  U00001      Charvi Lata   23    Male  Tiruchirappalli  13-04-2024
1  U00002  Widisha Sachdev   35    Male      Krishnagiri  30-06-2024
2  U00003    Darsh Sanghvi   30  Female          Chennai  29-08-2024
3  U00004       Finn Amble   21  Female       Tiruvallur  11-12-2024
4  U00005  Madhav Choudhry   35    Male       Dharmapuri  04-11-2024



Cleaned data saved to tamilnadu_Customer.csv

C:\Users\Pandi selvam\AppData\Local\Temp\ipykernel_20996\181519479.py:57: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_cleaned = df[~df.applymap(contains_only_special_chars).any(axis=1)]

### Data_cleaning5

In [5]:
#DATA CLEANING SCRIPT
import pandas as pd
import numpy as np
import re
import sys

# Redirect output to both console and file for Part 1
class DualOutput:
    def __init__(self, filename):
        self.terminal = sys.stdout
        self.log = open(filename, "w", encoding="utf-8")
    def write(self, message):
        self.terminal.write(message)
        self.log.write(message)
    def flush(self):
        self.terminal.flush()
        self.log.flush()

sys.stdout = DualOutput("touchpoint.txt")

# ==============================
# Step 1: Display first few rows
# ==============================
file_path = r"D:\PROJECT\Project2\Dataset\touchpoint_data.csv"  
df = pd.read_csv(file_path) 

print("First 5 rows of the dataset:")
print(df.head())
print(df.tail())

# =======================================
# Step 2: Dataset Columns
# =======================================
print("\n\n\ndataset columns:")
print(df.columns)

# =======================================
# Step 3: Data Types
# =======================================
print("\n\n\nData Types:")
print(df.dtypes)
# =======================================
# Step 4: Identify Missing Values
# =======================================
print("\n\n\nMissing Values in Each Column:")
print(df.info())
print(df.isnull().sum())

# ===================================================================================
# Step 5: Data Cleaning - Remove rows with only special characters or NaN in any cell
# ===================================================================================
def contains_only_special_chars(value):
    if pd.isna(value):
        return True
    return bool(re.fullmatch(r'[^a-zA-Z0-9]+', str(value)))

df_cleaned = df[~df.applymap(contains_only_special_chars).any(axis=1)]

print("\n\n\nAfter cleaning (removing rows with only special characters or NaN in any column):")
print(df_cleaned.head())

# Save cleaned data for Part 2
cleaned_file_path = "touchpoint.csv"
df_cleaned.to_csv(cleaned_file_path, index=False)
print(f"\n\n\nCleaned data saved to {cleaned_file_path}")

# Restore stdout
sys.stdout.log.close()
sys.stdout = sys.stdout.terminal

First 5 rows of the dataset:
   User_ID TouchpointTimestamp    Channel Campaign_ID       Campaign_Name  \
0     1063    26-06-2025 09:14   Referral    CAMP_460   Referral_Promo_30
1     9829    12-08-2025 18:10   Facebook    CAMP_948   Facebook_Promo_38
2     2383    09-08-2025 21:15  Instagram    CAMP_261  Instagram_Promo_45
3     5829    30-09-2025 13:21    YouTube    CAMP_264     YouTube_Promo_6
4     7104    12-10-2025 03:25    YouTube    CAMP_955    YouTube_Promo_46

     Medium Touchpoint_Type             Page  totaltype  totalmedium  \
0  Referral      Conversion       /thank-you          1            1
1    Social      Impression  /blog/marketing          2            2
2    Social           Visit         /product          3            3
3     Video      Impression        /checkout          4            4
4     Video           Visit  /blog/marketing          5            5

   totalpage  totalchannel
0          1             1
1          2             2
2          3             3
3          4             4
4          5             5
      User_ID TouchpointTimestamp     Channel Campaign_ID  \
9995     3117    04-03-2025 17:13    Referral    CAMP_734
9996     7068    28-03-2025 01:22     YouTube    CAMP_273
9997     3115    24-08-2025 05:44  Google Ads    CAMP_891
9998     2803    25-12-2024 02:14   Instagram    CAMP_171
9999     8170    17-03-2025 21:05  Google Ads    CAMP_239

            Campaign_Name    Medium Touchpoint_Type      Page  totaltype  \
9995     Referral_Promo_6  Referral      Impression     /home         19
9996     YouTube_Promo_16     Video            Open     /home         20
9997  Google Ads_Promo_13      Paid           Visit     /home         21
9998    Instagram_Promo_7    Social           Visit  /pricing         22
9999   Google Ads_Promo_3      Paid            Open     /home         23

      totalmedium  totalpage  totalchannel
9995           19         19            19
9996           20         20            20
9997           21         21            21
9998           22         22            22
9999           23         23            23



dataset columns:
Index(['User_ID', 'TouchpointTimestamp', 'Channel', 'Campaign_ID',
       'Campaign_Name', 'Medium', 'Touchpoint_Type', 'Page', 'totaltype',
       'totalmedium', 'totalpage', 'totalchannel'],
      dtype='object')



Data Types:
User_ID                 int64
TouchpointTimestamp    object
Channel                object
Campaign_ID            object
Campaign_Name          object
Medium                 object
Touchpoint_Type        object
Page                   object
totaltype               int64
totalmedium             int64
totalpage               int64
totalchannel            int64
dtype: object



Missing Values in Each Column:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   User_ID              10000 non-null  int64
 1   TouchpointTimestamp  10000 non-null  object
 2   Channel              10000 non-null  object
 3   Campaign_ID          10000 non-null  object
 4   Campaign_Name        10000 non-null  object
 5   Medium               10000 non-null  object
 6   Touchpoint_Type      10000 non-null  object
 7   Page                 10000 non-null  object
 8   totaltype            10000 non-null  int64
 9   totalmedium          10000 non-null  int64
 10  totalpage            10000 non-null  int64
 11  totalchannel         10000 non-null  int64
dtypes: int64(5), object(7)
memory usage: 937.6+ KB
None
User_ID                0
TouchpointTimestamp    0
Channel                0
Campaign_ID            0
Campaign_Name          0
Medium                 0
Touchpoint_Type        0
Page                   0
totaltype              0
totalmedium            0
totalpage              0
totalchannel           0
dtype: int64



After cleaning (removing rows with only special characters or NaN in any column):
   User_ID TouchpointTimestamp    Channel Campaign_ID       Campaign_Name  \
0     1063    26-06-2025 09:14   Referral    CAMP_460   Referral_Promo_30
1     9829    12-08-2025 18:10   Facebook    CAMP_948   Facebook_Promo_38
2     2383    09-08-2025 21:15  Instagram    CAMP_261  Instagram_Promo_45
3     5829    30-09-2025 13:21    YouTube    CAMP_264     YouTube_Promo_6
4     7104    12-10-2025 03:25    YouTube    CAMP_955    YouTube_Promo_46

     Medium Touchpoint_Type             Page  totaltype  totalmedium  \
0  Referral      Conversion       /thank-you          1            1
1    Social      Impression  /blog/marketing          2            2
2    Social           Visit         /product          3            3
3     Video      Impression        /checkout          4            4
4     Video           Visit  /blog/marketing          5            5

   totalpage  totalchannel
0          1             1
1          2             2
2          3             3
3          4             4
4          5             5



Cleaned data saved to touchpoint.csv

C:\Users\Pandi selvam\AppData\Local\Temp\ipykernel_20996\3726278767.py:57: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_cleaned = df[~df.applymap(contains_only_special_chars).any(axis=1)]